/*---------------------------------------------------------------------------------------------
 *  Copyright (c) Lunascape Corporation. All rights reserved.
 *--------------------------------------------------------------------------------------------*/
import { createTypeAction } from '../common/utility/redux';
import {

} from '../stores/{{kebabName}}-state';
