/*---------------------------------------------------------------------------------------------
 *  Copyright (c) Lunascape Corporation. All rights reserved.
 *--------------------------------------------------------------------------------------------*/
export interface I{{name}}State {
}

export function createInitial{{name}}State(): I{{name}}State {
  return {
  };
}
